body {
    background-color: lightsteelblue;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    
}

h1 {
    text-align: center;
    color: maroon;
}

h2 {
    color: maroon;
    text-align: start;
    padding: 0px;
    margin: 0px;
    font-size: 35px;
}

.container {
    display: flex;
    justify-content: center;
    
}

.game-wrapper {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}


.score-container {
    padding: 1em;
    border: 2px solid black;
    min-width: 400px;
    min-height: 150px;
    display: flex;
}

.options {
    display: flex;
    justify-content: center;
    padding: 20px;
    min-height: 100px;
    
}

.choices {
    text-align: center;
    margin: 50px 30px;
    border-radius: 50px;
    width: 175px;
    border: 3px solid;
    background-color: lightcyan;
    
}

.results {
    text-align: center;
    margin-top: 30px;
}

.imgSize {
    height: 90px;
    width: 90px;
    text-align: center;
    padding: 10px;
    
}

.scoreImg {
    height: 150px;
    width: 150px;
    display: flex;
    padding-right: 100px;
}

.playersScore, .computersScore {
    color: royalblue;
    font-size: 70px;
    display: flex;
    align-items: center;
}